<h3> Hi, </h3>

<p>Today, <%= @today %>, a new rent has been added: </p>

<ul>
  <li>Book_Id: <%= @rent.book_id %></li>
  <li>User_Id: <%= @rent.user_id %></li>
  <li>From: <%= @rent.from %></li>
  <li>To: <%= @rent.to %></li>
</ul>

<p>Thanks</p>