<h3> <%= t('new') %> <%= t('rent') %> <%= @today %>: </h3>

<ul>
  <li><%= t('book') %>:</li>
  <ul>
    <li><%= t('activerecord.attributes.book.title') %>: <%= @rent.book.title %></li>
    <li><%= t('activerecord.attributes.book.author') %>: <%= @rent.book.author %></li>
    <li><%= t('activerecord.attributes.book.genre') %>: <%= @rent.book.genre %></li>
    <li><%= t('activerecord.attributes.book.publisher') %>: <%= @rent.book.publisher %></li>
    <li><%= t('activerecord.attributes.book.year') %>: <%= @rent.book.year %></li>
  </ul>
  <li><%= t('from') %>: <%= @rent.from %></li>
  <li><%= t('to') %>: <%= @rent.to %></li>
</ul>
